.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.scroll-container > * {
  will-change: transform;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
